{% extends 'base.html' %}

{% block title %}contact{% endblock title %}
{% block contact %}highlight{% endblock contact %}



{% block body %}
<div class="site-content">
	<div class="container">
		<!-- Content (replace with your e-mail address below)
    ================================================== -->
		<div class="main-content">
			<section>
			<div class="section-title">
				<h2><span>Contact</span></h2>
			</div>
			<div class="article-post">
				<form action="/contact" method="post">
					{% csrf_token %}
          <div class="form-group row">
						<div class="col-md-6">
							<input class="form-control" type="text" name="name" placeholder="Name">
						</div>
						<div class="col-md-6">
							<input class="form-control" type="email" name="email" placeholder="E-mail Address">
						</div>
					</div>
					<textarea rows="8" class="form-control mb-3" name="message" placeholder="Message"></textarea>
					<input class="btn btn-success" type="submit" value="Send">
				</form>
			</div>
			</section>
		</div>
	</div>
	<!-- /.container -->
  {% for message in messages  %}            
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message : </strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  {% endfor %} 
{% endblock body %}